<div class="register">
  <form [formGroup]="registerForm" class="custom-form" method="post">
    <h1>Register</h1>
    <input type="email" formControlName="email" name="email" placeholder="Email" required="required" autocomplete="off" />
    <input type="password" formControlName="password" name="password" placeholder="Contraseña" required="required" (change)="validatePass()" autocomplete="off" />
    <input type="password" formControlName="confirmPassword" name="confirmPassword" placeholder="Repite la contraseña" required="required" (change)="validatePass()" autocomplete="off" />
    <div class="error" *ngIf="error">Las contraseñas deben ser iguales.</div>
    <button type="submit" mat-raised-button color="primary" (click)="register()" [disabled]="!registerForm.valid || error">Register</button>
  </form>
</div>