table {
  width: 100%;
  text-align: right;
}

.col-1 {
  text-align: left;
}

.title {
  margin-bottom: 50px;
}

.search-btn {
  margin-left: 15px;
}

.form-select {
  margin-left: 25px;
}

td {
  cursor: pointer;
}